html{
    background-color: rgb(27, 27, 27);
}

body{
    display: flex;
    justify-content: center;
}

.fighterList{
    list-style-type: none;
}
h1{
    justify-content: center;
    align-items: center;
    text-align: center;
    color:white;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top:30px;
    text-shadow: 2px 0px 30px #442626;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.headerBar{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap:10px;
}

.searchBar{
    border-radius: 12px;
    height: 50px;
    width:300px;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.fighterCard{
    margin-top: 50px;
    flex-direction: column;
    display:flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 10px;

    width: 550px;
    height: 490px;
    border-radius: 10px;
    border: 2px solid rgb(255, 213, 213);
    background-color: #423232;
}

.fighterCard .topRow{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
ul{
    list-style-type: none;
}
.topRow .fighterImg
{
    display: flex;
    height:300px;
    width:auto;
}

.bottomRow {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 12px;
}

.dash {
    color: white;
    font-size: 90px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient( #330202, #0c0c0c);
    margin:0;
    padding:0;
    min-height:100vh;
}   


.topRow .fighterInfo
{
    background-color: #333333;
    width:fit-content;
    text-align: center;
    color: white;
    border-radius: 10px;
    height: 50px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 20px;
    margin-top: 20px;
    border: 1px solid white;
}

.sideText
{
    color:white;
    background-color: #000000;
    padding:10px;
    margin-left: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid rgb(153, 153, 153);
}
.countryName
{
    background-color: #333333;
    width:200px;
    border: 1px solid rgb(255, 213, 213);
    text-align: center;
    color: white;
    height: fit-content;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
    word-wrap: break-word;
}

.bottomRow .fighterInfo
{
    background-color: #333333;
    color: white;
    border-radius: 10px;
    width:fit-content;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 20px;
    margin-top: 10px;
    border: 1px solid rgb(255, 213, 213);
}

.bottomRow .fighterInfo-correct
{
    background-color: #4cff35d3;
    color: white;
    border-radius: 10px;
    width:fit-content;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 20px;
    margin-top: 10px;
    text-shadow: 1px 0px 6px #000000;
    border: 1px solid rgb(255, 213, 213);
}
.bottomRow .fighterInfo-close
{
    background-color: #fbff23d3;
    color: white;
    border-radius: 10px;
    width:fit-content;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 20px;
    margin-top: 10px;
    text-shadow: 1px 0px 6px #000000;
    border: 1px solid rgb(255, 213, 213);
}
.infoBox{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.fighterInfo-correct
{
    background-color: #4cff35d3;
    border: 1px solid rgb(255, 213, 213);
    width:fit-content;
    text-align: center;
    color: white;
    height: 50px;
    font-size: 40px;
    text-shadow: 1px 0px 6px #000000;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 20px;
    margin-top: 20px;
}
.textRow{
    text-align: left;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    margin-top: 0px;
    padding:0px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtext{
    color: white;
    font-size: 20px;
    margin-bottom: 5px; 
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 23px;
}
.fighter-name{
    color: white;
    margin-bottom: 5px; 
    margin-top: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 35px;
    margin-left: 50px;
}
.fighterInfo-close
{
    background-color: #fbff23d3;
    width:fit-content;
    border: 1px solid rgb(255, 213, 213);
    text-align: center;
    color: white;
    height: 50px;
    text-shadow: 1px 0px 6px #000000;
    font-size: 40px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding: 20px;
    margin-top: 20px;
}

.countryName-correct
{
    background-color: #4cff35d3;
    width:200px;
    border: 1px solid rgb(255, 213, 213);
    text-align: center;
    color: white;
    height: fit-content;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding-top: 20px;
    text-shadow: 1px 0px 6px #000000;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
    word-wrap: break-word;
}

.countryName-close
{
    background-color: #fbff23d3;
    width:200px;
    border: 1px solid rgb(255, 213, 213);
    text-align: center;
    color: white;
    height: fit-content;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    padding-top: 20px;
    text-shadow: 1px 0px 6px #000000;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-top: 20px;
    word-wrap: break-word;
}

.ranking-text
{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 23px;
    margin-top: 5px;
    margin-bottom: 0px;
}
